* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);
  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);

  --spartan: "spartan", sans-serif;
  --text-lg: 800 2.2em/150% var(--spartan);
  --text-md: 700 1.4em/150% var(--spartan);
  --text-parag: 600 1.3em/180% var(--spartan);
  --text-ft: 500 1.4em/150% var(--spartan);
  --text-footer: 400 1.1em/150% var(--spartan);
}